.cart-content {
  padding     : 20px;
  padding-left: 200px;
  min-height  : 60vh;
  width       : 50%;
}

.cart-container {
  display       : flex;
  flex-direction: row;
}

h1 {
  font-size    : 36px;
  margin-bottom: 20px;
}

.cart-items {
  display       : flex;
  flex-direction: column;
  gap           : 20px;
}

.cart-item {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  border-bottom  : 1px solid #ccc;
  padding-bottom : 15px;
}

.cart-item-image {
  width     : 100px;
  height    : 100px;
  object-fit: cover;
}

.cart-item-details {
  flex        : 1;
  padding-left: 20px;
}

.cart-item-details h3 {
  font-size: 20px;
}

.cart-item-details p {
  font-size: 15px;
  color    : #333;
}

.quantity-controls {
  display: flex;
  gap    : 10px;
  margin : 10px 0;
}

.quantity-controls button {
  padding         : 5px 10px;
  border          : 1px solid #ccc;
  background-color: #fff;
  cursor          : pointer;
}

.remove-button-container {
  height         : 200px;
  display        : flex;
  flex-direction : column;
  justify-content: flex-end;
}

.remove-button {
  color          : rgb(0, 0, 0);
  padding        : 10px;
  border         : none;
  cursor         : pointer;
  text-decoration: underline;
  font-weight    : bold;
}

.cart-summary-container {
  padding         : 20px;
  background-color: #fff;
  max-width       : 400px;
  margin          : 0 auto;
}


.coupon-code-container {
  margin-bottom: 20px;
}

.coupon-code-input {
  width    : 95%;
  padding  : 10px;
  border   : 1px solid #ccc;
  font-size: 1rem;
}

.summary-row {
  display        : flex;
  justify-content: space-between;
  margin         : 10px 0;
}

.summary-label {
  font-size  : 1rem;
  font-weight: 500;
}

.summary-value {
  font-size: 1rem;
}

.summary-divider {
  border-top: 1px solid #ccc;
  margin    : 20px 0;
}

.total-row .summary-label {
  font-size: 1rem;
}

.total-row .summary-value {
  font-size: 1rem;
}

.cart-actions {
  display        : flex;
  justify-content: flex-end;
  gap            : 20px;
}

.cart-actions a {
  margin-top      : 10px;
  padding         : 10px 100px;
  background-color: black;
  color           : white;
  text-decoration : none;
  font-size       : 1rem;
}